@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-break: keep-all;
    line-height: 1;    
}


/* 배경 그라데이션 */
#gradient {
    width: 100%;
    height: 6100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background: -webkit-gradient(linear,left top, left bottom,from(white),color-stop(rgb(100, 100, 100)),color-stop(94%, black), to(black));
    background: -o-linear-gradient(white 0%,rgb(100, 100, 100),black 94%, black 100%);
    background: linear-gradient(white 0%,rgb(100, 100, 100),black 94%, black 100%);
    font-family: 'Noto Serif KR', serif;
}


/* 메인 글씨들 */
#word {
    
    display: inline-block;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

p {
  
   font-weight: 100;
    text-align: center;
    line-height: 400px;
    width: 500px;
    font-size: 22px;
    margin-left: 1%;
}

p:nth-child(1) {
  margin-top: 300px;
  
}

p:nth-child(2) {
  font-size: 24px;
  font-family: 'Noto Serif KR', serif;
  font-weight: 700;
}

/* 국립방귀은행 버튼 */
#myButton {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex; 
    color: white;
    font-size: 40px; 
    margin-top: 150px;
    margin-left:-20%;   
    background-color: black;
    padding: 13px;
    font-family: 'Noto Serif KR', serif;
    font-weight: 400;
    
  }

#myButton:active {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);

}

#myButton:hover {
  background-color: rgb(25, 25, 25);
}

/* 투명도 애니메이션 */
  @-webkit-keyframes opacity {
    0% {opacity: 100%;}
    50%{opacity: 0%;}
    100%{opacity: 100%;}
  }
  @keyframes opacity {
    0% {opacity: 100%;}
    50%{opacity: 0%;}
    100%{opacity: 100%;}
  }

/* 스크롤 애니메이션 */
  @-webkit-keyframes scroll {
    0% {opacity: 100%; margin-top:-6080px;}
    50% {opacity: 0%; margin-top:-6090px;}
    100% {opacity: 100%;margin-top:-6080px;}
  }
  @keyframes scroll {
    0% {opacity: 100%; margin-top:-6080px;}
    50% {opacity: 0%; margin-top:-6090px;}
    100% {opacity: 100%;margin-top:-6080px;}
  }

  
  
/* 도우미 */
/* 스크롤 */
p:nth-child(15){ 
  margin-top: -6100px;
  color: rgb(200, 200, 200);
  font-size: 170px;
  font-weight: 1;
  -webkit-animation: scroll 3s infinite;
          animation: scroll 3s infinite;
  
}
p:nth-child(16){ 
  margin-top: -370px;
  color: rgb(200, 200, 200);
  font-size: 170px;
  font-weight: 1;
  -webkit-animation: opacity 3s infinite;
          animation: opacity 3s infinite;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
p:nth-child(17){ 
  margin-top: -270px;
  color: rgb(200, 200, 200);
  font-size: 30px;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 500;
  -webkit-animation: opacity 3s infinite;
          animation: opacity 3s infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}




/* 버튼클릭유도 */
p:nth-child(13){ 
  color: rgb(100, 100,100);
  margin-top: 450px;
  -webkit-animation: opacity 3s infinite;
          animation: opacity 3s infinite;
  height: 100px;
  
}
