*{
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: keep-all;

}


body {
overflow: hidden;
}


html, body {
height: 100%;
width: 100%;
margin: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
background-color: rgb(0, 0, 0);
}


.eye{
cursor: pointer; 
-webkit-transition: color 0.5s; 
-o-transition: color 0.5s; 
transition: color 0.5s;
}




.circle {
width: 600px;
height: 600px;
border-radius: 50%; 
background-color: #f0f0f0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
position: relative;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
overflow: auto;
-ms-overflow-style: none; 
scrollbar-width: none;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

}

.circle::-webkit-scrollbar {
width: 0.4em;
}

.circle::-webkit-scrollbar-thumb {
background-color: rgb(0, 0, 0);
}


strong {
font-weight: bold;
}



.text {
text-align: center;
font-size: 32px;
color: #000000;
}



.target {
font-size: 32px;
display: inline-block;
color: black;
-webkit-transition: color 3s ease-in-out;
-o-transition: color 3s ease-in-out;
transition: color 3s ease-in-out; 
z-index: 100;
}





a{
color:rgb(0, 0, 0);
text-decoration: none;
}


.eye {
-webkit-animation: fade 12s 1;
        animation: fade 12s 1;
}

@-webkit-keyframes fade {
0% {
  color: black;
}
100% {
  color: white;
}


}

@keyframes fade {
0% {
  color: black;
}
100% {
  color: white;
}


}


.fade-out {
-webkit-animation-name: fade;
        animation-name: fade;
-webkit-animation-duration: 15s;
        animation-duration: 15s;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}



.eye1 {
-webkit-animation: dark 12s 1;
        animation: dark 12s 1;
}

@-webkit-keyframes dark {
0% {
  font-weight: 400;
}

100% {
  font-weight: 900;
}
}

@keyframes dark {
0% {
  font-weight: 400;
}

100% {
  font-weight: 900;
}
}

.darker {
-webkit-animation-name: dark;
        animation-name: dark;
-webkit-animation-duration: 15s;
        animation-duration: 15s;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}



.word {
position: relative;
display: inline-block;


}

.word1 {
position: relative;
display: inline-block;
}


.zkf {
position: relative;
display: inline-block;
text-align: left;
}

.zkf2 {
position: relative;
display: inline-block;
text-align: left;
}

.zkf3 {
position: relative;
display: inline-block;
text-align: left;
}

u{
text-decoration: underline;
}