* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
}



p{
  font-size: 36px;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 13%;
  left: 10%;
  color: rgb(0, 0, 0);
  display: block;
  white-space: nowrap;
  background-color: transparent;
}


strong{
  font-weight: bold;
}


.container {
  position: relative;
}

.text-overlay {
  font-size: 36px;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 26%;
  left: 10%;
  z-index: 1;
  color: white;
  background-color: rgba(255, 0, 0, 0.85);
  
}

.text-overlay2 {
  font-size: 36px;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 26%;
  left: 27%;
  z-index: 1;
  color: white;
  background-color: rgba(255, 0, 0, 0.85);
  
}

svg {
width: 70%;
height: 70%;
top: -20%;
left: 80%;
-webkit-transform: translateX(20%) translateY(90%);
    -ms-transform: translateX(20%) translateY(90%);
        transform: translateX(20%) translateY(90%);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}


@-webkit-keyframes fadeOut {
0% {
  opacity: 1;
}

50% {
  opacity: 0.5;
}

100% {
  opacity: 0;
}
}


@keyframes fadeOut {
0% {
  opacity: 1;
}

50% {
  opacity: 0.5;
}

100% {
  opacity: 0;
}
}

.fadeOut {
-webkit-animation: fadeOut 5s forwards;
        animation: fadeOut 5s forwards;
}