* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
  background-color: black;
}

svg {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p{
  font-size: 100px;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  display: block;
  white-space: nowrap;
  background-color: transparent;
}


#circle1 {
  width: 48px;
  height: 48px;
  border-radius: 50%; 
  background-color: white; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  position: fixed;
  top: 19%;
  left: 47.5%;
  cursor: pointer;
}


#circle2 {
  width: 48px;
  height: 48px;
  border-radius: 50%; 
  background-color: white; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  position: fixed;
  top: 43%;
  left: 58%;
  cursor: pointer;
}


#circle3 {
  width: 48px;
  height: 48px;
  border-radius: 50%; 
  background-color: white; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  position: fixed;
  top: 49.5%;
  left: 43.5%;
  cursor: pointer;
}

#circle4 {
  width: 48px;
  height: 48px;
  border-radius: 50%; 
  background-color: white; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  position: fixed;
  top: 61.5%;
  left: 38%;
  cursor: pointer;
}

#circle5 {
  width: 48px;
  height: 48px;
  border-radius: 50%; 
  background-color: white; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  position: fixed;
  top: 84%;
  left: 55%;
  cursor: pointer;
}



.click {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 93%;
  left: 90%;
}


.circle:active {
-webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
        transform: scale(0.9);
}

.circle {
-webkit-transition: -webkit-transform 0.2s;
transition: -webkit-transform 0.2s;
-o-transition: transform 0.2s;
transition: transform 0.2s;
transition: transform 0.2s, -webkit-transform 0.2s; 
}